form{
    display: inline-block;
    padding: 30px;
 }
 form,
 #validation{
     text-align: center;
 }
 input,
 textarea{
     border-radius: 5px;
     border: 1px solid var(--primary-color);
     box-shadow: 6px 3px 2px var(--shadow);
     display:block;
     padding: 2%;
     margin: 20px auto;
 }
 .form-error {
     display: none;
     max-width: 80%;
     font-weight: 700;
     background-color: var(--beige-color);
     border: 2px solid var(--rose-color);
     margin: 5px auto 0 auto;
 }
 .contactSend{
     border: 2px solid var(--primary-color);
     background-color: var(--ice);
     margin-top: 2%;
     padding: 10px 30px;
 }
 #validation{
     border: 2px solid var(--primary-color);
     background-color: var(--light-ice);
 }
 #validation, 
 .errorRequest{
     display: none;
     padding: 3%;
     z-index: 101;
 }
 .errorRequest{
     border: 2px solid var(--beige-color);
     background-color: var(--rose-color);
 }
@media (min-width:769px){
 form{
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     max-width: 100%;
     margin: 0 auto;
     gap: 0 20%;
 }
 form > *:nth-child(2){
     grid-column: 1;
     grid-row: 2;
 }
 .contactSend{
     max-width: 80%;
     margin: 0 auto;
     cursor: pointer;
 }
 .contactSend:hover{
    font-weight: 800;
    transform: translateY(1px);
 }
 .contactSend, 
 form h6,
 form > *:nth-child(5){
     grid-column-start: 1;
     grid-column-end: span 2;
 }
 form h6{
     grid-row: 4;
 }
 .successMessage{
     display: flex;
     gap: 10%;
     max-width: 50%;
     margin: 0 auto;
 }
 }
