form{
    display: inline-block;
    padding: 30px;
 }
 form,
 #validation{
     text-align: center;
 }
 input,
 textarea{
     display:block;
     margin: 20px auto;
 }
 .form-error {
     display: none;
     max-width: 80%;
     font-weight: 800;
     background-color: rgb(228, 194, 194);
     border: 2px solid rgb(219, 91, 91);
     margin: 5px auto 0 auto;
 }
 .contactSend{
     margin-top: 2%;
     padding: 10px 30px;
 }
 #validation{
     border: 2px solid #cfe67f;
     background-color: rgba(166, 255, 0, 0.2);
 }
 #validation, 
 .errorRequest{
     display: none;
     padding: 3%;
     z-index: 101;
 }
 .errorRequest{
     border: 2px solid rgb(219, 91, 91);
     background-color: rgba(248, 87, 87, 0.2);
 }
@media (min-width:769px){
 form{
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
 }
 form > *:nth-child(2){
     grid-column: 1;
     grid-row: 2;
 }
 .contactSend{
     max-width: 80%;
     margin: 0 auto;
 }
 .contactSend, 
 form h6,
 form > *:nth-child(5){
     grid-column-start: 1;
     grid-column-end: span 2;
 }
 form h6{
     grid-row: 4;
 }
 .successMessage{
     display: flex;
     gap: 10%;
     max-width: 50%;
     margin: 0 auto;
 }
 }