@font-face {
    font-family: "Open Sans";
    src: url("/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("/Fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
li,
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Open_Sans', sans-serif;
}
p{
    font-family: 'Raleway', sans-serif;
}
@media(max-width: 768px){
    .fab,
    .far{
        font-size: 1.3em;
    }
}
@media (min-width: 769px) {
    a:hover{
        font-weight: 600;
    }
    .fab,
    .far{
        font-size: 1.6em;
    }
    .resume{
        font-size: 1.2em;
    }
}