li,
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Open_Sans', sans-serif;
}
body{
    font-family: 'Raleway', sans-serif;
}
@media(max-width: 768px){
    .fab,
    .far,
    .fas{
        font-size: 2em;
    }
    .fa-code-branch{
        font-size: 1em;
    }
}
@media (min-width: 769px) {
    a:hover{
        font-weight: 600;
    }
    .fab,
    .far,
    .fas{
        font-size: 2.3em;
    }
    .fa-code-branch{
        font-size: 1.2em;
    }
    li{
        font-weight: 700;
    }
    li:hover{
        font-size: 1.1em;
    }
}