@import url("/css/variables.css");
@import url("/css/fonts.css");
@import url("/css/contact.css");
@import url("/css/card.css");
@import url("/css/nav.css");
html,
body{
    height:100vh;
    margin:0;
}
body{
    display: flex;
    flex-direction: column;
}


/*--------links*/
a{
    text-decoration: none;
    color: #000;
}
/*--------main*/
main{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
h1{
    max-width: 100%;
    text-align: center;
    margin: 3% auto;
    background-color: rgba(255, 255, 255, 0.877);
}
.fa-code-branch{
    position: relative;
    animation: greencolor 5s infinite;
}
@keyframes greencolor{
    0%{ color: var(--ice);}
    25%{ color:var(--primary-color); }
    50%{ color: var(--secondary-color); }
    75%{ color:var(--primary-color); }
    100%{color: var(--ice);}
}
*{
    box-sizing: border-box;
}
/*---------footer*/
footer{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
footer h3,
footer h6{
    margin: 0.5% auto;
}
/*---------mobile version*/
@media (max-width: 768px) {
    .banner_mobile_tablet{
        width: 100%;
    }
    .banner_desktop{
        display: none;
    }
}
/*---------desktop version*/
@media (min-width: 769px) {
    .banner_mobile_tablet{
        display: none;
    }
    .banner_desktop{
        width: 100%;
    }
    a:hover{
        text-decoration: underline;
    }
    .fab,
    .far{
        cursor: pointer;
    }
    .fab:hover,
    .far:hover,
    h5:hover{
        transform: translateY(2px);
    }
}
