.btn{
    border: 5px solid getColour(secondary-color);
    color: black;
    font-family: $font-secondary;
    border-radius: 11px;
    &:hover{
       background-color: getColour(secondary-color);
       color: getColour(primary-color); 
    }
}
.btn__navbar{
    @extend .btn;
    border: 3px solid getColour(primary-color);
    color: getColour(primary-color);
    &:hover{
        background-color: getColour(primary-color);
        color: getColour(secondary-color); 
    }
}