.fa-solid{
    &:hover{
        font-size: 1.1rem;
    }
}
.icons__footer{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: getColour(primary-color);
    margin: 2% auto;
}