.icons__footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    margin: 2% auto;

    a {
        color: getColour(primary-color);
    }

    @media (min-width:768px) {
        margin: 2%;
    }
}

.fa-brands {
    cursor: pointer;
}

.skills__list i {
    @media (min-width: 768px) {
        font-size: 1.3rem;
    }
}

.strapi__icon {
    width: 24px;
}