.icons__footer{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: getColour(primary-color);
    margin: 2% auto;
}
.fa-brands{
    cursor: pointer;
}
.skills__list i{
    @media (min-width: 768px) {
        font-size: 1.3rem;
    }
}