.introduction {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    padding: 60px;
    color: getColour(primary-color);

    @media all and (max-width:768px) and (orientation: portrait) {
        height: 60vh;
    }

    @media all and (min-device-width:320px) and (max-device-width:768px) and (orientation: landscape) {
        height: 180vh;
    }

    @media (min-width:768px) {
        height: 40vh;
    }

    @media (min-width:992px) {
        height: 30vh;
    }

    @media (min-width:1200px) {
        height: 70vh;
    }

    &::before {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 70vh;
        height: 60vh;
        background-color: #161616;
        border-radius: 50%;
        transform-origin: bottom;
        transform: translateX(-50%) scale(4);

        @media (min-width:768px) {
            height: 90vh;
            width: 180vh;
        }
    }

    .content {
        position: relative;
        z-index: 1;
        max-width: 1000px;
        text-align: center;

        @media (min-width:768px) {
            & {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .introduction__text {
                grid-column: 1;
            }

            .introduction__photo {
                grid-column: 2;
                grid-row-start: 1;
                grid-row-end: span 2;
            }
        }
    }
}

.introduction__text h6 {
    font-family: $font-secondary;
    max-width: 240px;
    margin: 2% auto;
}

.introduction__photo {
    width: 40%;
    margin: 2% auto;
    border-radius: 5px;
}