.img__services {
    max-width: 95%;
    margin: 2% auto;
    border-radius: 15px 15px 0 0;
}

.services__subtitles {
    background: getColour(secondary-color);
    color: getColour(primary-color);
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1% 0;

    @media(min-width:768px) {
        & h1 {
            font-size: 1.4rem;
        }
    }
}

.service__card {
    border: 1px solid getColour(dark-gray);
    border-radius: 15px;
    margin-bottom: 2%;
}